.pizza {
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  margin-top: -1.3rem;
  max-height: 50rem;
  height: 90%;
}
.pizza ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
}

.text {
  display: block;
  text-align: center;
  color: yellow;
  padding: 2% 0;
  font-size: 2.65rem;
}

@media (max-width: 1024px) {
  .text {
    font-size: 2.4rem;
    margin-bottom: -0.5rem;
  }
  .pizza {
  height: 36rem;
  }
  .pizza ul {
    padding: 0 6rem;
  }
}

@media (max-width: 768px) {
  .text{
    margin-bottom: -0.1rem;
  }
  .pizza{
   height: 30rem;
  }
  .pizza ul{
    margin-top: -1.5rem;
  }

}
@media (max-width: 425px) {
  .pizza{
display: none;
  }

}
