.form {
  text-align: right;
  color: yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 0;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #252424;
  border: 1px solid #252424;
  color: yellow;
  padding: 0.25rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  margin-top: -0.3rem;
  margin-left: 2rem;
 
}

.form button:hover,
.form button:active {
  background-color: yellow;
  border-color: yellow;
  color: #252424;
}

@media (max-width: 1024px) {
.form{
  padding: 0.4rem 0;

}
.form button{
  padding: 0.1rem 1rem;
  width: 5rem;
  margin-left: 1.2rem;
}
.form input{
  width: 2rem;
}
}
@media (max-width: 768px) {
  .form{
width: 11rem;
font-size: 0.9rem;
margin-left: -1rem;
margin-bottom: -0.6rem;

  }
  .form input{
    width: 2.25rem;
    margin-left: -0.3rem;
    
  }
  .form button{
    width: 4rem;
    margin-left: -0.2rem;
  }
}
@media (max-width: 425px) {
  .form{
    /* padding:0 1.5rem; */
    width: 15rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: space-around;
    
  }
  .form button{
    /* padding: 0.1rem 1rem; */
    /* width: 5rem; */
    margin-left: -0.5rem;
   
  }
}