.about {
  margin: 0;
  padding: 0;
  position: relative;
}

.text {
  text-align: center;
  height: 20rem;
  max-width: 45rem;
  width: 90%;
  margin: 8rem auto;
  position: absolute;
  background: linear-gradient(#101426, #10142667);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  top: 0;
  left: 30%;
  color: yellow;
  font-size: 1.2rem;
  display: block;
}

.text h2 {
  font-size: 2rem;
}
.about img {
  margin-bottom: -2rem;
  width: 100%;
  position: relative;
}
@media (max-width: 1500px) {
  .text{
    margin: 3rem auto;
    margin-left: -7rem;
  }
}

@media (max-width: 1024px) {
.text{
  margin: 3rem auto;
  max-width: 40rem;
  width: 90%;
  margin-left: -9rem;
}
}
@media (max-width: 768px) {
  .text{
    margin-left: -10rem;
  }
}
@media (max-width: 425px) {
.text{
  font-size: 0.6rem;
  margin: 1rem auto;
  margin-left: -7rem;
}
}