.drinks {
  margin: 0;
  padding: 3% 8%;
  align-self: center;
}
.drinks ul {
  padding-top: 2rem;
  display: flex;
  /* padding: 0; */
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.intro {
  font-size: 1.5rem;
  color: yellow;
  border-bottom: 1px solid yellow;
}

.intro h4 {
  margin-top: -1rem;
}

.list {
  border-right: 0.5px solid yellow;
  padding: 3rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.message{
  color: yellow;
}
